#footer ul.bullets li{
    background-image: url(../img/red_arrow.png);
}
.red-arrow {
    background-image: url(../img/red_arrow.png);
}
.black-arrow {
    background-image: url(../img/black_arrow.png);
}
#header .wrap .main-menu ul .about-submenu ul li:first-child + li{
    margin-top: -38px;
}
#landing-page .main-content #content-about #design-office .design-office-image img{
    max-width: none;
    height: 100%;
}
#landing-page .main-content #testimonial-block .divider{
    margin-top: 10px;
}