// Mixins
.grid-container {
    .container-fixed();
    #grid > .core > .span(@gridColumns);
}

.inline-block {
    display: inline-block;
    .ie7-inline-block;
}

.box-shadow-inset(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow inset;
     -moz-box-shadow: @shadow inset;
          box-shadow: @shadow inset;
}

.shadow-hr {
    display: block;
    width: 100%;
    .box-shadow-inset(0 -3px 4px -1px rgba(0,0,0,.35));
    height: 10px;
    border: none;
}
