// UP TO LANDSCAPE PHONE
// ---------------------

@media only screen and (max-device-width: 480px){

.page {
    width: auto;
}
#pass-through{
    min-height: auto;
    width: 480px:;
}

#header{

    height: 225px;

    .wrap{
        width: auto;
    }
    .divider{
        width: auto;
    }
}
#header .wrap .main-menu ul li .menu-item-logo{
    display: block;
    padding-left: 15px;
}

#header .wrap .main-menu{
    white-space: nowrap;
}

#footer {
    width: 100%;
    ul.bullets {

        li {
            float: none;
        }
    }
}

}
@media (max-width: 320px) {

.page {
    width: auto;
}
#pass-through{
    min-height: auto;
}

#header{

    height: 225px;

    .wrap{
        width: auto;
    }
    .divider{
        width: 100%;
    }
}
#header .wrap .main-menu ul li .menu-item-logo{
    display: block;
    padding-left: 15px;
}

#header .wrap .main-menu{
    white-space: nowrap;
}

#footer {
    width: 100%;
    ul.bullets {

        li {
            float: none;
        }
    }
}

}
