/* Fonts */
/*@font-face {
    font-family: 'FuturaHeavy';
    src: url('../fonts/futuraheavy-webfont.eot');
    src: url('../fonts/futuraheavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futuraheavy-webfont.woff') format('woff'),
         url('../fonts/futuraheavy-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}*/

@font-face {
    font-family: 'FuturaMedium';
    src: url('../fonts/futura_t_medium-webfont.eot');
    src: url('../fonts/futura_t_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura_t_medium-webfont.woff') format('woff'),
         url('../fonts/futura_t_medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gothambook-webfont.eot');
    src: url('../fonts/gothambook-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothambook-webfont.woff') format('woff'),
         url('../fonts/gothambook-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gothambookital-webfont.eot');
    src: url('../fonts/gothambookital-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothambookital-webfont.woff') format('woff'),
         url('../fonts/gothambookital-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gothammedium-webfont.eot');
    src: url('../fonts/gothammedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothammedium-webfont.woff') format('woff'),
         url('../fonts/gothammedium-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'gotham_htf';
    src: url('../fonts/gothammediumitalic-webfont.eot');
    src: url('../fonts/gothammediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gothammediumitalic-webfont.woff') format('woff'),
         url('../fonts/gothammediumitalic-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


@hicolor: #EE332C;
@fancyHeadingsFontFamily: FuturaMedium, Helvetica, Arial, sans-serif;

/* Mixins */
.standout {
    color: @hicolor;
}
.quiet {
    color: @gray;
}
.small {
    font-size: 12px;
    line-height: 14px;
}
.fancy {
    font-family: @fancyHeadingsFontFamily;
}
.red-arrow {
    font-size: 13px;
    background-size: 17px;
    background-image: url(../img/red_arrow_big.png);
    background-repeat: no-repeat;
    background-position: -3px -1px;
    padding-left: 20px;
}
.black-arrow {
    font-size: 13px;
    background-size: 17px;
    background-image: url(../img/black_arrow_big.png);
    background-repeat: no-repeat;
    background-position: -3px -1px;
    padding-left: 20px;
}
/* Typography */
h1,h2 {
    line-height: 26px;
    margin-bottom: 5px;
}
h1,h2 {
    font-family: @fancyHeadingsFontFamily;
    font-weight: normal;
    text-transform: uppercase;
}
h3,h4,h5,h6 {
    line-height: 20px;
    margin-bottom: 8px;
}

h1.headline {
    font-weight: normal;
    color: @gray;
    font-size: 10px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 2px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 20px;
}
h1.standout {
    background: url(../img/red_arrow.png) no-repeat;
    background-position: 1px 2px;
    text-indent: 30px;
    font-size: 21px;
}
h2.standout {
    font-family: @fancyHeadingsFontFamily;
    font-size: 19.4px;
    font-weight: normal;
    text-transform: uppercase;
    background: url(../img/red_arrow.png) no-repeat;
    background-position: 1px 0px;
    text-indent: 28px;
}
h3.standout {
    font-family: @fancyHeadingsFontFamily;
    font-weight: normal;
    text-transform: uppercase;
    background: url(../img/red_arrow.png) no-repeat;
    background-position: 1px 0px;
    text-indent: 28px;
}
h4 {
    font-family: @sansFontFamily;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

ul.fancy-list {
    list-style: none;
    padding: 0;
    margin-left: 0;

    li {
        padding-left: 1em;
        text-indent: -.9em;
        &:before {
            .inline-block;
            content: " ";
            width: 15px;
            height: 14px;
            background-image: url(../img/black_arrow.png);
            background-position: -4px -3px;
            margin-bottom: -3px;
        }
        &.standout {
            &:before {
                background-image: url(../img/red_arrow.png);
            }
        }

        a {
            text-decoration: none;
            background: #fff;
            &:hover {
                color: @gray;
                margin-left: -15px;
                &:before {
                    .inline-block;
                    position: relative;
                    content: " ";
                    width: 15px;
                    height: 14px;
                    background-color: #fff;
                    background-image: url(../img/gray_arrow.png);
                    background-position: -4px -3px;
                    margin-bottom: -3px;
                    left: -4px;
                }
            }
        }
    }
}

ul.links-list {
    margin: 0;
    padding: 10px 0 0px 6px;
    list-style: none;
    .clearfix;

    li {
        font-family: @fancyHeadingsFontFamily;
        font-size: 13px;
        text-transform: uppercase;
        line-height: 20px;
        margin-right: 13px;
        float: left;

        a {
            background-image: url(../img/gray_arrow.png);
            background-repeat: no-repeat;
            background-position: 0 -2px;
            padding-left: 20px;
            color: @gray;
            text-decoration: none;

            &.active {
                color: #000;
                background-image: url(../img/black_arrow.png);
            }
            &:hover {
                color: @hicolor;
                background-image: url(../img/red_arrow.png);
            }
        }
    }
}
