{% load generic_markup  %}

{% if page.content1_title %}
<h2 class="content-title">{{page.content1_title|safe}}</h2>
{% endif %}
{{page.content1_text|apply_markup}}

{% if page.content2_title %}
<h3 class="content-title2">{{page.content2_title|safe}}</h3>
{% endif %}
{{page.content2_text|apply_markup}}
