{% load generic_markup  %}
{% load thumbnail %}

<div class="contact">
    {% if page.content3_image %}
    {% thumbnail page.content3_image.filename "140x120" as thumb %}
    <img src="{{thumb.url}}" width="{{thumb.width}}" height="{{thumb.height}}" alt="{{page.content3_image.alt_text}}" />
    {% endthumbnail %}
    {% endif %}
    <div class="text{% if page.content3_image %} with-image{% endif %}">
        <h3 class="standout">{{page.content3_title|safe}}</h3>
        {{page.content3_text|apply_markup}}
    </div>
</div>

<div class="message">
    <h3>{{page.content4_title|safe}}</h3>
    {{page.content4_text|apply_markup}}
</div>

<div class="divider"></div>
