{% load config cache compress %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% setting SITE TITLE %}{% endblock %}</title>

    <meta name="description" content="{% block meta-description %}{% setting SITE DESCRIPTION %}{% endblock %}" />
    <meta name="keywords" content="{% block meta-keywords %}{% setting SITE KEYWORDS %}{% endblock %}" />
    <meta name="google-site-verification" content="6fk18UKx16G8V4Q81uAmXc5InCtSaEpSWx4TjY1BNHY" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block styles %}
    {% compress css %}
    <link rel="stylesheet" href="{{STATIC_URL}}css/base.less" type="text/less" media="screen">
    {% endcompress %}
    <!--[if IE]>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/ie.css" />
    <![endif]-->
    {% endblock %}

    <script type="text/javascript">
    media_url = '{{MEDIA_URL}}';
    static_url = '{{STATIC_URL}}';
    </script>
    <script type="text/javascript">
        var $buoop = {vs:{i:8,f:12,o:11,s:5,n:9}}
        $buoop.ol = window.onload;
        window.onload=function(){
            try {if ($buoop.ol) $buoop.ol();}catch (e) {}
            var e = document.createElement("script");
            e.setAttribute("type", "text/javascript");
            e.setAttribute("src", "http://browser-update.org/update.js");
            document.body.appendChild(e);
        }
    </script>

    {% block scripts %}
    {% compress js %}
    <script src="{{STATIC_URL}}js/lib/underscore.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/lib/jquery/jquery.js" type="text/javascript"></script>
    <script src="{{STATIC_URL}}js/lib/modernizr.js" type="text/javascript"></script>
    {% endcompress %}
    {% endblock %}

    {% block extrahead %}{% endblock %}
</head>
<body id="{% block bodyid %}{{bodyid}}{% endblock %}" class="fixed-header {% block bodyclass %}{{bodyclass}}{% endblock %}">
{% block body %}{% endblock %}
{% block analytics %}
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-10712127-1");
        pageTracker._trackPageview();
    } catch(err) {}
</script>
{% endblock %}
</body>
</html>
