{% extends "bare.html" %}
{% load url from future %}
{% load activelink %}
{% load thumbnail %}

{% block body %}
<script type="text/javascript">
    $(function() {
        $(".about-submenu").mouseover(
            function(){
                $(".ul-about").addClass('about-submenu-hover')
                $(this).addClass('hovered')
            });

        $(".ul-about").mouseleave(
            function(){
                $(".ul-about").removeClass('about-submenu-hover')
                $(".about-submenu").removeClass('hovered')
        });

        $(".logotype").mouseover(
                function(){
                    $(".ul-about").removeClass('about-submenu-hover')
                    $(".about-submenu").removeClass('hovered')
                });

        $(".no-about").mouseover(
            function(){
                $(".ul-about").removeClass('about-submenu-hover')
                $(".about-submenu").removeClass('hovered')
            })
    });
</script>
<!--[if IE]>
<script type="text/javascript">
    $(document).ready(function() {
        $(".ul-about li:nth-child(2)").css({'margin-top':'-38px'});
    })
</script>
<![endif]-->

<div id="wrap">
    <header id="header">
        <div class="wrap">
           <div class="logotype"><a href="{% url 'home' %}"> <img alt="Golinko Design, Strategic Design Studio" style="width:205px;height:92px;" src="{{STATIC_URL}}img/logo_big.png" /></a> </div>
            <div class="main-menu">
            <ul class="unstyled">
                {% block main_menu %}
                {% for item in root_menuitems %}
                {% if item.object.show_on_pages %}
                <li class="{% if item.object.slug == 'about' %}about-submenu {% for children in item.get_children %}{% if page.slug == children.object.slug %}active{% endif %}{% endfor%} {%else%} no-about {% for children in item.get_children %}{% if page.slug == children.object.slug %}active{% endif %}{% endfor%}  {% endif %} " {% if item.object.slug %} data-passthrough="{% url 'passthrough_text' item.object.slug %}"{% endif %}>
                    <a href="{% if item.object.link %}{{ item.object.link }}{% endif %}">
                    <div class="menu-item-logo">
                        <img class="default" alt="default" src="{% if item.object.menu_image_default %}{{item.object.menu_image_default.filename.url}}{% endif %}" width="44" height="44"/>
                        <img class="bottom" alt="bottom" src="{% if item.object.menu_image_hover %}{{item.object.menu_image_hover.filename.url}}{% endif %}" width="44" height="44"/>
                        <img class="top" alt="top" src="{% if item.object.menu_image_active %}{{item.object.menu_image_active.filename.url }}{% endif %}" width="44" height="44"/>
                    </div>
                    {{ item }}</a>
                    {% if item.object.slug == 'about' %}
                        <ul class="ul-about">
                            <li class="divider"></li>
                            {% for children in item.get_children %}
                            <li class="{% if page.slug == children.object.slug %} active {% endif %}">
                                <a href="{{ children.get_absolute_url }}">
                                {% if children.object.slug == 'design-office' %}
                                    <img class="current" alt="current" src="{% if children.object.menu_image_active %} {{ children.object.menu_image_active.filename.url }} {% else %} {{STATIC_URL}}img/design-r.png {% endif %}" width="36" height="36" />
                                    <img class="over" alt="over" src="{% if children.object.menu_image_default %} {{ children.object.menu_image_default.filename.url }} {% else %} {{STATIC_URL}}img/design-g.png {% endif %}" width="36" height="36" />
                                    <img class="under" alt="under" src="{% if children.object.menu_image_hover %} {{ children.object.menu_image_hover.filename.url }} {% else %} {{STATIC_URL}}img/design-b.png {% endif %}" width="36" height="36" />
                                {% elif children.object.slug == 'selected-clients' %}
                                    <img class="current" alt="current" src="{% if children.object.menu_image_active %} {{ children.object.menu_image_active.filename.url }} {% else %} {{STATIC_URL}}img/clients-r.png {% endif %}" width="36" height="36" />
                                    <img class="over" alt="over" src="{% if children.object.menu_image_default %} {{ children.object.menu_image_default.filename.url }} {% else %} {{STATIC_URL}}img/clients-g.png {% endif %}" width="36" height="36" />
                                    <img class="under" alt="under" src="{% if children.object.menu_image_hover %} {{ children.object.menu_image_hover.filename.url }} {% else %} {{STATIC_URL}}img/clients-b.png {% endif %}" width="36" height="36" />
                                {% elif children.object.slug == '12-essentials' %}
                                    <img class="current" alt="current" src="{% if children.object.menu_image_active %} {{ children.object.menu_image_active.filename.url }} {% else %} {{STATIC_URL}}img/12-r.png {% endif %}" width="36" height="36" />
                                    <img class="over" alt="over" src="{% if children.object.menu_image_default %} {{ children.object.menu_image_default.filename.url }} {% else %} {{STATIC_URL}}img/12-g.png {% endif %}" width="36" height="36" />
                                    <img class="under" alt="under" src="{% if children.object.menu_image_hover %} {{ children.object.menu_image_hover.filename.url }} {% else %} {{STATIC_URL}}img/12-b.png {% endif %}" width="36" height="36" />
                                {% elif children.object.slug == 'creativity-experience-excellence' %}
                                    <img class="current" alt="current" src="{% if children.object.menu_image_active %} {{ children.object.menu_image_active.filename.url }} {% else %} {{STATIC_URL}}img/cee-r.png {% endif %}" width="36" height="36" />
                                    <img class="over" alt="over" src="{% if children.object.menu_image_default %} {{ children.object.menu_image_default.filename.url }} {% else %} {{STATIC_URL}}img/cee-g.png {% endif %}" width="36" height="36" />
                                    <img class="under" alt="under" src="{% if children.object.menu_image_hover %} {{ children.object.menu_image_hover.filename.url }} {% else %} {{STATIC_URL}}img/cee-b.png {% endif %}" width="36" height="36" />
                                {% endif %}
                                {{ children }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <li class="divider"></li>
                </li>
                {% endif %}
                {% endfor %}
                {% endblock %}
            </ul>
            </div>
        </div>
        <div class="divider"></div>
    </header>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    {% block plain_divider %}{% endblock %}
    <footer id="footer">
        <div class="row">
            <div class="span8">
                <ul class="bullets">
                    <li><span>Fueled By</span> Creativity</li>
                    <li><span>Powered By</span> Experience</li>
                    <li><span>Driven To</span> Excellence</li>
                </ul>
                <p class="copy">
                    &copy; {% now "Y" %} Golinko Design Inc. Newton, MA 02458, USA
                    <span class="div">|</span>
                    <a href="{% url 'site_map' %}">Site Map</a>
                </p>
            </div>
            <span class="divider"></span>
            <div class="span4">
                <p class="message">
                    <a href="{% url 'site_page' 'selected-clients' %}">
                    Winner of more than 45 national<br/>
                    and international design awards
                    </a>
                </p>
                <a href="{% url 'site_page' 'selected-clients' %}"><img id="clio" alt="clio" style="width:39px;height:214px;" src="{{STATIC_URL}}img/Clio-Trans.png" /></a>
            </div>
        </div>
    </footer>
</div>
{% endblock %}
