{% extends "base.html" %}
{% load url from future %}
{% load thumbnail generic_markup compress %}
{% load activelink %}

{% block title %}Home | {{block.super}}{% endblock %}

{% block meta-description %}{{page.meta_description|default:block.super}}{% endblock %}
{% block meta-keywords %}{{page.meta_keywords|default:block.super}}{% endblock %}

{% block scripts %}
{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}js/imagegallery.js" type="text/javascript"></script>
{% endcompress %}
{% endblock %}

{% block extrahead %}
<script type="text/javascript">
$(function() {
    var imagegallery = new ImageGallery();

    imagegallery.showMenuItem = function(el){
        $(".main-menu ul li").removeClass('active');
        $($(".main-menu ul li")[el.index()]).toggleClass('active')
    };

    $(".main-menu ul li").hover(
    function(){
        imagegallery.stop();
        imagegallery.show($(this).index());

        $(".main-menu ul li").removeClass('active');
        $(this).addClass('hovered');

        var url =$($(this).find("a")[0]).data('passthrough');
        $("#main .top").load(url,
                function(){
                    $("#main .top").fadeIn();
                    $("#image-gallery").fadeOut()
                });
        imagegallery.pause()
    }, function(){
                $(this).removeClass('hovered');
                $(this).addClass('active');
            })
});
</script>
{% endblock %}

{% block bodyid %}homepage{% endblock %}

{% block main_menu %}
    {% for item in root_menuitems %}
    {% if item.object.show_on_main %}
    <li class="{% if forloop.first %}active{% endif %}" {% if item.object.slug %} data-passthrough="{% url 'passthrough_text' item.object.slug %}"{% endif %} >
        <a href="{% if item.object.link %}{{ item.object.link }}{% endif %}" {% if item.object.slug %} data-passthrough="{% url 'passthrough_text' item.object.slug %}"{% endif %}>
        <div class="menu-item-logo">
            <img class="default" src="{% if item.object.menu_image_default %}{{item.object.menu_image_default.filename.url}}{% endif %}" width="44px" height="44px"/>
            <img class="bottom" src="{% if item.object.menu_image_hover %}{{item.object.menu_image_hover.filename.url}}{% endif %}" width="44px" height="44px"/>
            <img class="top" src="{% if item.object.menu_image_active %}{{item.object.menu_image_active.filename.url }}{% endif %}" width="44px" height="44px" />
        </div>
        {{ item }}</a>
        <div class="divider"></div>
        <link rel="prefetch preferender" href="{% url 'passthrough_text' item.object.slug %}">
    </li>
    {% endif %}
    {% endfor %}
{% endblock %}

{% block content %}
<div id="main" class="page">
    <div class="top"></div>
    <!-- Image Gallery -->
    <div id="image-gallery" class="image-gallery">
        {% for item in root_menuitems %}
        {% if item.object.show_on_main %}
        {% if item.object.background_image.filename %}

        <img {% if item.object.slug %} data-passthrough="{% url 'passthrough_text' item.object.slug %}"{% endif %} src="{{item.object.background_image.filename.url}}" {% if forloop.first %}class="active" style="z-index:10;"{% endif %} alt="{{image.alt_text}}"/>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>

    <div class="home-text">
        <h1>Success Comes from Quality in Branding</h1>
        <p>When your ideas require a creative, professional touch to bring them to life, make Golinko Design, Inc. your source for brand design, packaging design and structuring, company naming and more! Our focus on helping you cultivate your brand </p>
        <h2>Full Service Branding and Communication Design</h2>
        <p>From the seemingly simplest task of naming your company, to the insurmountable prospect of finally picking a logo that will define you, building a business and a brand isn’t for the faint of heart—that’s why Golinko Design, Inc. is here to assist you every step of the way. From helping to tease out unique and captivating business name ideas in Newton, MA, to refining these options and more into the core characteristics of your company, we work with you to ensure that your first steps are the right ones. And, as you grow and evolve over time, we’ll be there to continually assist you in achieving your successes, whether it’s helping to roll out a new marketing campaign or developing product packaging in Newton, MA for your next great idea.</p>
        <p style="">The foundation of our success at Golinko Design, Inc. starts with our approach to organic consultation. We don’t force philosophies or take abstract ideas and try to refine them into something they’re not—instead, we communicate with you to truly understand your position, your market, your goals and your environment, so that whatever we’re assisting you with, be it consulting for your next campaign or debating logo design in Newton, MA, the right methodology is used to achieve greatness. We’re more than just another firm churning out overused ideas or uninspiring logos in Newton, MA: we’re Golinko Design, Inc., a place where ideas take shape. Take a look at why we’re so successful when it comes to raising your business to its true potential: </p>
        <ul>
            <li>Our services run the creative gamut, from naming and logo design, to marketing campaigns and design for packaging in Newton, MA.</li>
            <li>We assist businesses with big and small tasks alike, from providing company name ideas in Newton, MA, to assisting in the launch of new products and services.</li>
            <li>Our core focus is building businesses in three chief facets: branding, packaging and naming for products and services.</li>
            <li>We are the proud winner of more than 45 national and international design awards.</li>
            <li>Our ideas and services are market driven, yet take into account your business’ unique position within that market, as well as its goals and abilities.</li>
        </ul>
    </div>

</div>
{% endblock %}
{% block plain_divider %}<div id="secondary-divider-index" class="divider"></div>{% endblock %}
