{% load url from future %}
<div id="content-related-extended">
    {% if perms.configuration.change_setting or perms.menus.change_menuitem %}
    <div class="module">
        <h2>Settings</h2>
        <ul class="menulist">
            {% if perms.configuration.change_setting and perms.configuration.change_longsetting %}    
            <li><a href="{% url 'admin:index' %}settings/"><strong>Site Settings</strong></a></li>
            {% endif %}
            {% if perms.menus.change_menuitem %}{% url 'admin:menus_menuitem_changelist' as menus_url %}
            {% if menus_url %}<li><a href="{{menus_url}}"><strong>Configure Menu</strong></a></li>{% endif %}
            {% endif %}
        </ul>
    </div>
    {% endif %}
    
    {% comment %}
    <div class="module">
        <h2>Quick Links</h2>
        <ul class="menulist">
            {% if perms.content.change_page %}{% url 'admin:content_page_add' as page_add_url %}
            {% if page_add_url %}<li><a href="{{page_add_url}}" class="addlink"><strong>Add a Page</strong></a></li>{% endif %}
            {% endif %}
            {% if perms.blog.change_entry %}{% url 'admin:blog_entry_add' as entry_add_url %}
            {% if entry_add_url %}<li><a href="{{entry_add_url}}" class="addlink"><strong>New Blog Entry</strong></a></li>{% endif %}
            {% endif %}
        </ul>
    </div>
    {% endcomment %}
</div>
