{% load admin_apps %}
{% load url from future %}
{% admin_apps as apps %}
<ul>
    <li>Site Admin</li>
    <li id="toggle_navigation"><a href="javascript://">Navigation</a>
        <ul id="navigation" class="menu">
            <li><a href="{% url 'admin:index' %}"><strong>Main Admin</strong></a></li>
            {% for label, app in apps.items %}
            <li><a href="{{app.url}}"><strong>{{app.verbose_name}}</strong></a></li>
            {% endfor %}
        </ul>
    </li>
</ul>
