{% load sitepages_tags %}
        <div class="span4" id="testimonial-block">
            <div id="testimonial-top">
                <p id="testimonial-heading">My clients say<br> the kindest things.</p>
                 <a id="my_client_say_button">
                    <img class="top" alt="top" src="{% if page.refresh_image_default %}{{ page.refresh_image_default.filename.url }}{% else %}{{STATIC_URL}}img/refresh-g.png{% endif %}" style="width:36px;height:36px;" />
                    <img class="bottom" alt="bottom" src="{% if page.refresh_image_hover %}{{ page.refresh_image_hover.filename.url }}{% else %}{{STATIC_URL}}img/refresh-r.png{% endif %}" style="width:36px;height:36px;" />
                 </a>
            </div>
            <div class="divider"></div>
            <div id="my_client_say_container">
                {% my_client_say_tag %}
            </div>
        </div>
