{% extends "base.html" %}
{% load thumbnail generic_markup compress %}
{% load url from future %}

{% block title %}{{page.title}} | {{block.super}}{% endblock %}

{% block meta-description %}{{page.meta_description|default:block.super}}{% endblock %}
{% block meta-keywords %}{{page.meta_keywords|default:block.super}}{% endblock %}

{% block scripts %}
{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}js/imagegallery.js" type="text/javascript"></script>
{% endcompress %}
{% endblock %}

{% block extrahead %}
<script type="text/javascript">
$(function() {
    var imagegallery = new ImageGallery();
});
</script>
{% endblock %}

{% block content %}
<div id="landing-page">
    <div class="main-content row">
        <h1 class="headline">{{page.headline}}</h1>

        <!-- Main Content -->
        <div class="span5">
            {% if page.content1_title %}
            <h2 class="content-title">{{page.content1_title|safe}}</h2>
            {% endif %}
            {{page.content1_text|apply_markup}}

            {% if page.content2_title %}
            <h3 class="content-title2">{{page.content2_title|safe}}</h3>
            {% endif %}
            {{page.content2_text|apply_markup}}
        </div>

        <div class="span7">
            <!-- Image Gallery -->
            <div id="image-gallery" class="image-gallery">
                {% for image in page.images.published %}
                {% thumbnail image.filename "540x430" as thumb %}
                <img src="{{thumb.url}}" width="{{thumb.width}}" height="{{thumb.height}}" {% if forloop.first %}class="active"{% endif %} alt="{{image.alt_text}}"/>
                {% endthumbnail %}
                {% endfor %}
                {% for image in page.images.published %}
                {% endfor %}
                <div class="nav"></div>
                {% if page.link_text %}
                <ul class="links-list">
                    <li><a class="active" href="{{ page.link }}">{{page.link_text}}</a></li>
                </ul>
                {% endif %}
            </div>

            {% comment %}
            <!-- Links -->
            <ul class="links-list">
                <li><a href="" class="active">Brand Design</a></li>
                <li><a href="">Naming</a></li>
                <li><a href="">Identity</a></li>
                <li><a href="">Packaging</a></li>
            </ul>
            {% endcomment %}
        </div>

    </div>

    <div class="secondary-content plain-divider">
        <div class="contact">
            {% if page.content3_image %}
            {% thumbnail page.content3_image.filename "140x120" as thumb %}
            <img src="{{thumb.url}}" width="{{thumb.width}}" height="{{thumb.height}}" alt="{{page.content3_image.alt_text}}" />
            {% endthumbnail %}
            {% endif %}
            <div class="text{% if page.content3_image %} with-image{% endif %}">
                {% if page.content3_title %}
                <h3 class="content-title3">{{page.content3_title|safe}}</h3>
                {% endif %}
                {{page.content3_text|apply_markup}}
            </div>
            {% if contact_form %}
            <script type="text/javascript">
                $(function() {
                {% if contact_form.errors %}
                    window.location.hash = '#contact-form';
                {% else %}
                    if (window.location.hash == '#contact-form') {
                        alert("Thank you for your message!");
                    }
                {% endif %}
                });
            </script>
            <form id="contact-form" action="" method="post" class="form small">
                {% csrf_token %}
                {% spaceless %}
                {% for field in contact_form %}
                <div class="control-group field-{{field.name}}{% if field.errors %} error{% endif %}">
                {{field}}
                </div>
                {% endfor %}
                {% endspaceless %}
                <button type="submit" class="btn">submit &gt;</button>
            </form>
            {% endif %}
        </div>

        <div class="message">
            {% if page.content4_title %}
            <h4>{{page.content4_title|safe}}</h4>
            {% endif %}
            {{page.content4_text|apply_markup}}
        </div>

        <div class="divider"></div>
    </div>
</div>
<div id="landing-footer"><div class="wrap">
    <div class="module">
        {% if page.column1_title %}
        <h4>{{page.column1_title|safe}}</h4>
        {{page.column1_text|apply_markup}}
    </div>
    <div class="module">
        {% if page.column2_title %}
        <h4>{{page.column2_title|safe}}</h4>
        {{page.column2_text|apply_markup}}
    </div>
    <div class="module">
        {% if page.column3_title %}
        <h4>{{page.column3_title|safe}}</h4>
        {{page.column3_text|apply_markup}}
    </div>
</div></div>
{% endblock %}
