<script type="text/javascript">
$(function() {

    // Hover for overlay spots
    var main_img = $('#main_img');
    $('.overlay').each(function() {
        var overlay = $(this),
            img = overlay.prev();
        overlay.hover(function() {
            img.addClass('active');
            main_img.addClass('hidden');
        }, function() {
            img.removeClass('active');
            main_img.removeClass('hidden');
        });
    });
});
</script>
  
<div id="pass-through" class="page">
    <a id="main_img"><img src="{{category.passthrough_page.image.filename.url}}"></a>
    {% for overlay in category.passthrough_page.overlays.all %}
    <a href="" class="overlay-link"><img src="{{overlay.image.filename.url}}" id="main_img" /></a>
    <a href="{% if overlay.link %}{{ overlay.link }}{% endif %}" class="overlay" style="width:{{overlay.width}}px;height:{{overlay.height}}px;top:{{overlay.top}}px;left:{{overlay.left}}px;background:transparent url('{{STATIC_URL}}img/blank.gif') 0 0 repeat;"></a>
    {% endfor %}
</div>
